.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #f8f9fa;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .sidebar a:hover {
    background-color: #e9ecef;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main-content {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 300px;
    background-color: #E9ECF0;
    padding: 0px 0px 20px 0px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  .nav-section{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-section ul.nav li.nav-item {
    width: 100%;
    margin-bottom: 5px;
}

.nav>li.active {
    background-color:#adb5bd;
}

li.nav-item .nav-link i {
    font-size: 15px;
    font-size: 25px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
}

#main-content .navbar li.nav-item .nav-link i {
    line-height: 20px;
    font-size: 15px;
    margin-right: 0px;
}

li.nav-item .nav-link p {
    margin: 0;
    line-height: 30px;
    font-size: 14px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
    cursor: pointer;
}

.profile-head {
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

.profile-head h1{
    color: black;
    font-size: 36px;
    font-weight: 600;
    margin: 18px 0 0;

}

.profile-head small{
    float: left;
    width: 100%;
    font-size: 14px;
    color: #343A41;
    margin-top: 5px;
    margin-left: 5px;
}

.profile-head h5 {
    font-size: 1.0rem;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-right{
    float: right;
}

.navbar.navbar-expand-sm {
    background-color: #dee2e6;
    color: #0062cc;
    z-index: 1;
}

.navbar-nav .nav-item .nav-link{
    color: #0062cc;
}

@media (min-width: 576px){
    .navbar-expand-sm {
        justify-content: space-between;
    }
}

.myfixed-top{
    position: fixed;
    top: 0;
}
