<div id="user-account">
    <div class="main">
        <div id="sidebar-left">
            <div class="row">
                <div class="col-md-12 profile-head" style="text-align: center">
                    <h1>
                        HealthyHeart
                        <small>Taking care of yourself</small>
                    </h1>
                </div>
                <div class="nav-section">
                    <ul class="nav">
                        <li class="nav-item" routerLinkActive="active" routerLink="/account/dashboard">
                            <a class="nav-link">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active" routerLink="/account/groups">
                            <a class="nav-link">
                                <i class="material-icons">group</i>
                                <p>groups</p>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active" routerLink="/account/history">
                            <a class="nav-link">
                            <i class="material-icons">history</i>
                            <p>you history</p>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active" routerLink="/account/groups">
                            <a class="nav-link">
                                <i class="material-icons">insert_chart</i>
                                <p>analysis</p>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active" routerLink="/account/profile">
                            <a class="nav-link">
                            <span class="menu_icon"><i class="material-icons">person</i></span>
                            <p>your profile</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div id="main-content">
            <nav class="navbar navbar-expand-sm navbar-light justify-content-end fixed-top">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a href="#" class="nav-link"><span class="ping"></span><i class="fa fa-envelope-o"></i></a> 
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fa fa-bell-o"></i></a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="" class="nav-link">
                            <i class="fa fa-sign-out"></i>
                            <span class="logout">
                                Logout
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="main-content-body">
                <div id="groups-and-messages-bar" class="nav-pad"></div>
                <div id="main-body" class="nav-pad">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
