<div class="wrapper user-account">
    <div class="main">
        <div id="sidebar-left" class="sidebar">
            <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a> -->
            <div class="row">
                <div class="col-md-12 profile-head" style="text-align: center">
                    <h1>
                        HealthyHeart
                        <small>Taking care of yourself</small>
                    </h1>
                </div>
                <div class="nav-section">
                    <ul class="nav">
                        <li class="nav-item" routerLinkActive="active" routerLink="/account/dashboard">
                            <a class="nav-link">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active" routerLink="/account/groups">
                            <a class="nav-link">
                                <i class="material-icons">group</i>
                                <p>groups</p>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active" routerLink="/account/history">
                            <a class="nav-link">
                            <i class="material-icons">history</i>
                            <p>you history</p>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active" routerLink="/account/analytics">
                            <a class="nav-link">
                                <i class="material-icons">insert_chart</i>
                                <p>analysis</p>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active" routerLink="/account/profile">
                            <a class="nav-link">
                            <span class="menu_icon"><i class="material-icons">person</i></span>
                            <p>your profile</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            
        <div id="main-content">
            <!-- <button class="openbtn" onclick="sideNav()">☰ Toggle Sidebar</button>   -->
            <div id="nav-collapse" class="navbar navbar-expand-sm navbar-light justify-content-end">
                <div id="toggle-space">
                    <a id="navbar-toggle" (click)="sideNav()"><i class="fa fa-bars menu-icon fa-2x" aria-hidden="true"></i></a>
                </div>
                <ul class="navbar-nav" id="nav-list">
                    <li class="nav-item active">
                        <a href="#" class="nav-link"><span class="ping"></span><i class="fa fa-envelope-o"></i></a> 
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fa fa-bell-o"></i></a>
                    </li>
                    <li class="nav-item">
                        <a (click)="logout()" style="cursor: pointer" class="nav-link">
                            <i class="fa fa-sign-out"></i>
                            <span class="logout">
                                Logout
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="main-content-body">
                <!-- <div id="groups-and-messages-bar" class="nav-pad"></div> -->
                <div id="main-body" class="nav-pad">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
