.row{
    margin-left: 0px;
    margin-right: 0px;
}

table thead{
    border-bottom: 1px solid black;
}

.profile{
    /* margin-top: 20px; */
    background-color: white;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}



.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

.card.table-user-information{
    padding: 10px 10px 10px 10px;
}