<div class="profile">
    <div class="row">
        <div class=" col-md-6 col-lg-6 card table-user-information">
            <div class="panel panel-info">
                <div class="panel-body">
                <!-- <div class="row">
                    <div class=" col-md-12 col-lg-12 ">  -->
                    <table class="table" width="100%">
                        <thead>
                            <h6>YOUR INFORMATION</h6>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Name:</td>
                                <td>Timon Koskey</td>
                            </tr>
                            <tr>
                                <td>Date of Birth:</td>
                                <td>06/14/1985</td>
                            </tr>
                            <tr>
                                <td>Gender:</td>
                                <td>Male</td>
                            </tr> 
                            <tr>
                                <td>Email:</td>
                                <td>timonkosy92@gmail.com</td>
                            </tr> 
                            <tr>
                                <td>Phone Number 1:</td>
                                <td>0747240260</td>
                            </tr>
                            <tr>
                                <td>Phone Number 2:</td>
                                <td>0747240260</td>
                            </tr> 
                            <tr>
                                <td>Sign up date:</td>
                                <td>06/14/2019</td>
                            </tr> 
                            <tr>
                                <td>Residence:</td>
                                <td>Ruai, Nairobi</td>
                            </tr>  
                        </tbody>
                    </table>
                    <!-- </div> -->
                </div>
            </div>
        </div>

        <div class=" col-md-6 col-lg-6 card table-user-information">
            <div class="panel panel-info">
                <div class="panel-body">
                <!-- <div class="row">
                    <div class=" col-md-12 col-lg-12 ">  -->
                    <table class="table" width="100%">
                        <thead>
                            <h6>YOUR EMERGENCY CONTACT</h6>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Name:</td>
                                <td>Jane Doe</td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td>Female</td>
                            </tr>
                            <tr>
                                <td>Relation:</td>
                                <td>Wife</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>janedoe@gmail.com</td>
                            </tr>
                            <tr>
                                <td>Phone Number 1:</td>
                                <td>0722 123456</td>
                            </tr>
                            <tr>
                                <td>Phone Number 2:</td>
                                <td>0722 123456</td>
                            </tr>
                            <tr>
                                <td>Residence:</td>
                                <td>Ruai, Nairobi</td>
                            </tr>  
                        </tbody>
                    </table>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
