<div class="history">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="card card-history">
                <div class="card-header">
                    <h6 class="card-title"> Your blood pressure history </h6>
                </div>
                <div class="card-body">
                    <table id="resent-table" style="width:100%">
                        <tr>
                            <th style="width: 20%"><u><b>Date ( DD-MM-YYY )</b></u></th>
                            <th style="width: 20%">Systolic (SBP)</th>
                            <th style="width: 20%">Diastolic (DBP)</th>
                            <th style="width: 20%">Pulse Rate</th>
                            <th style="width: 20%"><u><b>Status</b></u></th>
                        </tr>
                        <tr *ngFor="let data of userdata; let i = index">
                            <td>
                                {{data['date']}}
                                <span class="badge badge-pill badge-danger" *ngIf="i === (userdata.length - 1)">Last Update</span>
                            </td>
                            <td>{{data['average_SBP_per_upload']}} mm Hg</td>
                            <td>{{data['average_DBP_per_upload']}} mm Hg</td>
                            <td>{{data['average_pulse_rate_per_upload']}} mm Hg</td>
                            <td [style.background-color]="getBackgroundColor(data.blood_pressure_status)" style="color: black"><b>{{data.blood_pressure_status}}</b></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>    
</div>