#dashboard{
    padding: 15px 15px 15px 15px;
}

.average-col{
    padding: 0px
}

.top-row .card{
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-header .card-title{
    margin-bottom: 0px;
    color: #222;
}

.chart-row{
    margin-top: 40px;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.average-col .card-stats{
    height: 150px;
}

.card-header{
    background-color: white;
}

.bpform .card-body .bpform-top p{
    /* font-size: 1rem; */
    color: blue;
    margin-bottom: 0px;
}

.card-header .form-info{
    margin-bottom: 0px;
    text-align: center
}

.card-header .form-info.important{
    color: red;
}

.btn.btn-success.submit-form{
    width: 150px;
}

@media screen and (min-width: 992px) {
    .card.bpform{
        max-width: 300px;
        float: right;
        height: 500px;
    }

    .card.bp-trends-chart{
        max-width: 720px;
        height: 500px;
    }

    .btn.btn-success.submit-form{
        width: 100%;
    }

}

.card.bp-trends-chart{
    max-width: 720px;
    height: 500px;
}

.error-message{
    color: red;
}