<div id="dashboard">
    <!-- <div class="row"> -->
        <div class="card bpform" *ngIf="showBPForm; else confirmInputBlock">
            <div class="card-header">
                <h6 class="card-title"> TAKE A BLOOD PRESSURE TEST</h6>
                <p class="form-info important">(NOTE please take the test 3 times)</p>
            </div>
            <div class="card-body">
                <form [formGroup]="bpform" (ngSubmit)="onSubmit(bpform.value)">
                    <div class="form-group">
                        <label>Enter systolic (SBP)</label>
                        <input type="number" class="form-control" formControlName="SBP">
                    </div>
                    <div class="form-group">
                        <label>Enter diastolic (DBP)</label>
                        <input type="number" class="form-control" formControlName="DBP">
                    </div>
                    <div class="form-group">
                        <label>Enter pulse rate</label>
                        <input type="number" class="form-control" formControlName="pulse_rate">
                    </div>
                    <div *ngIf="submissions_count === 0" class="bpform-top">
                        <p>This is FIRST (1st) test.. Two more to go!</p>
                    </div>
                    <div *ngIf="submissions_count === 1" class="bpform-top">
                        <p>This is your SECOND ("2nd") test.. One more to go!</p>
                    </div>
                    <div *ngIf="submissions_count === 2" class="bpform-top">
                        <p>Your last test!</p>
                    </div>
                    <div class="form-group" style="text-align: center;margin-top: 15px">
                        <button type="submit" class="btn btn-success">submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="card bp-trends-chart">
            <div class="card-header">
                <h6 class="card-title">BLOOD PRESSURE TREND GRAPH</h6>
                <p class="form-info">(NOTE please take the test 3 times)</p>
            </div>
            <div class="card-body">
                <div id="stats">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    <!-- </div> -->
</div>
